td {

  .dropdown {
    //position: static;

    .menu-button.btn-secondary {
      color: $dark_grey;
      background-color: transparent !important;
      border: none;
      transform: rotate(-90deg);
    }

    .dropdown-menu .dropdown-item {
      padding: 0px 24px !important;


      i {
        font-size: 18px !important;
      }

      i,
      a {
        color: $color_mystic_approx !important;
      }
    }
  }
}

.dropdown-item i {
  color: #ffffff !important;
}

.bulk-options-menu .dropdown-item {
  padding: 5px 10px;
}
