.dropdown {
  //position: static;

  .menu-button {
    color: $dark_grey;
    background-color: transparent !important;
    border: none;
  }

  .menu-button i {
    font-size: 24px;
    transform: rotate(-90deg);
  }

  .dropdown-menu .dropdown-item {
    padding: 0 24px !important;


    i {
      font-size: 18px !important;
      transform: rotate(90deg);
    }

    i,
    a {
      color: $color_mystic_approx !important;
    }
  }
}

.bulk-options-menu .dropdown-item {
  padding: 5px 10px;
}
