.sidebar .nav-link.active {
  border-left: 4px solid $color_science_blue_approx_hover;
}

.nav-link {
  font-size: 16px !important;

  .nav-icon {
    color: $white !important;
    font-size: 20px !important;
    margin-right: 20px !important;
  }
}

.float {
  z-index: 9999 !important;
}

@media (max-width: 768px) {
  .container {
    max-width: 660px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .sidebar-lg-show {
    .sidebar {
      width: 230px;

      .sidebar-nav {
        width: 225px;

        .nav {
          width: 226px !important;
        }
      }
    }

    .main {
      margin-left: 225px !important;
    }

    .sidebar-fixed .sidebar {
      width: 230px !important;
    }
  }
}