.sidebar .nav-link.active {
  border-left: 4px solid $color_science_blue_approx_hover;
}

.nav-link {
  font-size: 16px !important;

  .nav-icon {
    font-size: 20px !important;
    margin-right: 20px !important;
  }
}

.sidebar .nav-dropdown.open .nav-link {
  color: $dark_grey;
}

.float {
  z-index: 9999 !important;
}

@media (max-width: 768px) {
  //.container {
  //  max-width: 660px;
  //}

  .sidebar {
    z-index: 999999;
  }
}

.fixed-margin-mobile {
  margin-top: 76px !important;
}

.fixed-margin-extra {
  margin-top: 58px !important;
}

.fixed-margin-datatable-mobile {
  margin-top: 300px !important;
}

.fixed-margin-datatable-large-mobile {
  margin-top: 430px !important;
}

.fixed-margin-datatable-collapsed {
  margin-top: 82px;
}

@media (min-width: 576px) and (max-width: 668px) {
  .container {
    max-width: 665px;
  }
}

@media (min-width: 768px) {
  .container:not(.sidebar-show) {
    max-width: 765px;
  }

  .sidebar-show .container {
    max-width: 568px;
  }
}

@media (min-width: 1024px) {
  .container:not(.sidebar-lg-show) {
    max-width: 1025px !important;
  }

  .sidebar-lg-show .container {
    max-width: 795px !important;
  }
}

@media(min-width: 1200px) {
  .container:not(.sidebar-lg-show) {
    max-width: 1400px !important;
  }

  .sidebar-lg-show {
    .container {
      max-width: 1140px !important;
    }
  }
}

@media (min-width: 768px) {
  //.container {
  //  max-width: 768px;
  //}

  .fixed-margin-datatable {
    margin-top: 120px !important;
  }

  .fixed-margin-datatable-large {
    margin-top: 190px !important;
  }
}

.light-theme {
  .sidebar {
    background-color: $white;
  }

  .sidebar .nav-link {
    color: $dark_grey;
  }

  .nav-dropdown.open {
    background: $white !important;
    color: $dark_grey !important;
  }
}


@media (max-width: 575.98px) {
  .sidebar-show .topbar {
    background: rgba(0, 0, 0, 0.7) !important;
    opacity: 0.25;
  }
}


//@media (min-width: 1024px) {
//  .fixed-margin-mobile {
//    margin-top: 160px !important;
//  }
//
//}
@media (min-width: 992px) {
  .sidebar-lg-show {
    .sidebar {
      width: 230px;

      .sidebar-nav {
        width: 225px;

        .nav {
          width: 226px !important;
        }
      }
    }

    .topbar {
      padding-left: 232px;
    }

    .main {
      margin-left: 225px !important;
    }

    .sidebar-fixed .sidebar {
      width: 230px !important;
    }
  }
}

.navbar {
  border-bottom: none !important;
  box-shadow: none !important;
}


.navbar-toggler {
  color: rgba(0, 0, 0, .5) !important;
  border-color: rgba(0, 0, 0, .1) !important;
}

.topbar {
  z-index: 999;
  top: 36px;
  left: 6px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 8px;
  //margin-top: 68px;
  position: fixed;
}

.Toastify__toast-container {
  z-index: 999999 !important;
}
