//colors
$color_science_blue_approx: #005dc1;
$white: #ffffff;
$color_galliano_approx: #e4ac05;
$color_amber_approx: #ffc107;
$color_amaranth_approx: #dc3545;
$color_brick_red_approx: #d22d3d;
$color_tapa_approx: #777777;
$color_star_dust_approx: #9f9f9f;
$color_suva_gray_approx: #888888;
$color_iron_approx: #d6d6d6;
$color_science_blue_approx_hover: #0069d9;
$color_science_blue_approx_hover: #0062cc;
$color_amaranth_approx_hover: #eb3f50;
$color_slate_gray_approx: #73818f;
$color_mystic_approx: #e4e7ea;
$color_scarpa_flow_approx: #515b65;
$color_shark_approx: #23282c;
$white: #ffffff;
$color_science_blue_approx: #005dc1;
$color_cornflower_approx: #8ad4ee;
$color_curious_blue_25_approx: rgba(32, 168, 216, 0.25);
$dark_grey: #999999;
